<!DOCTYPE html>
<html lang="en">
{% include '../includes/head.twig'%}
<body>

  <h1>Home</h1>
  <p>Hello world! This is a test paragraph</p>
  <svg class="i-facebook">
   <use xlink:href="images/sprite.svg#i-facebook"></use>
  </svg>
</body>
</html>
